<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Knewave&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/styles/searchBox.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/game-page.css" />
    <title>
        <%= gameName %>
    </title>
</head>

<body>
    <section class="header"><%- include('header.ejs') %></section>

    <section class="main">
        <div class="inner-main">
            <div class="game-detail-container">
                <div class="game-detail">
                    <h2 id="game-title" style="width: fit-content;">
                        <%= game.name %>
                    </h2>
                    <div class="slides box-shadow">
                        <div class="inner-slides">
                            <video class="media box-shadow" id="media-video" src="<%= game.gameplay %>" autoplay
                                controls></video>
                            <video class="media box-shadow" id="preloaded-video" src="" style="display: none;" autoplay
                                controls></video>
                            <img class="media box-shadow" id="media-image" src="" alt="screenshot" />
                            <div class="video-and-image box-shadow">
                                <video class="slider-content" src="<%= game.gameplay %>"></video>
                                <% for(let i=0; i < game.videos.length; ++i){ %>
                                    <video class="slider-content" src="<%= game.videos[i]%>"></video>
                                    <% } %>
                                        <% for(let i=0; i < game.screenshots.length; ++i){ %>
                                            <img class="slider-content" src="<%= game.screenshots[i]%>"
                                                alt="screenshot" />
                                            <% } %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right-side">
                    <div class="game-about-container box-shadow">
                        <div class="about-and-image-container">
                        <img id="game-image" src="<%= game.image %>"/>
                        <div class="game-info about">
                            <h3 style="color: darkcyan">ABOUT:</h3>
                            <p style="font-style: italic">
                                <%= game.short_description %>
                            </p>
                            <hr />
                            <p>
                                <span style="color: darkcyan">DEVELOPER:</span>
                                <%= game.developer %>
                            </p>
                            <p>
                                <span style="color: darkcyan">RELEASE DATE: </span>
                                <%= game.release_date %>
                            </p>
                        </div>
                        </div>
                        <div class="tag">
                            <h3>GENRES AND TAGS</h3>
                            <div class="genres">
                                <% for(let i=0; i < game.genres.length; ++i) { %>
                                    <div class="tag-title-container">
                                        <%= game.genres[i].name %>
                                    </div>
                                    <% } %>
                                        <% for(let i=0; i < game.tags.length; ++i) { %>
                                            <div class="tag-title-container">
                                                <%= game.tags[i].name %>
                                            </div>
                                            <% } %>
                            </div>
                            <h3>PLAY MODES</h3>
                            <div class="play-modes">
                                <% for(let i=0; i < game.play_modes.length; ++i) { %>
                                    <div class="tag-title-container">
                                        <%= game.play_modes[i].name %>
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="platform-container box-shadow">
                        <h3>Platforms:</h3>
                        <div class="platform">
                            <% for(let i=0; i < game.platforms.length; ++i){ %>
                                <img class="platform-icon" src="/images/platform-icon/<%= game.platforms[i].value %>.png"
                                    width="40px">
                                <span class="platform-tooltip">
                                    <%= game.platforms[i].name %>
                                </span>
                                <% } %>
                        </div>
                    </div>
                    <h2 style="color: #008b8b; margin-bottom: 0px;">Visit on:</h2>
                    <div class="source">
                        <% for(let i = 0; i < game.official_stores.length; ++i) { %>
                            <a href="<%= game.official_stores[i].url %>" target="_blank">
                                <img class="source-icon" src="/images/platform-icon/<%= game.official_stores[i].source %>.png">
                            </a>
                            <% } %>

                    </div>
                </div>
            </div>
        <% for(let i = 0; i < game.offers.length; ++i) { %>
        <div class="offer">
                        <div class="price-container box-shadow">
                            <img src="/images/platform-icon/<%= game.offers[i].store_name%>.png" width="60px"
                                style="padding: 10px;" alt="steam icon">
                            <span class="game-title"><%= game.offers[i].title %></span>
                            <span class="price-value-container">
                                <span id="buy-now">Buy Now</span>
                                <a href="<%= game.offers[i].url %>" class="price-value" target="_blank">
                                    <span id="initial-price">$<%= game.offers[0].price.initial %></span>
                                </a>
                            </span>
                        </div>
        </div>
               <% } %>
            <h2 style="color: white; margin: 20px 0px;">Similar Games:</h2>
              <div class="similar-games-container box-shadow">
                    <% for(let i = 0; i < similarGames.length; i++) { %>
                    <a class href="/game/<%= similarGames[i].id %>/<%= encodeURIComponent(similarGames[i].name)%>">
                        <div class="game-card">
                            <img class="game-image" src="<%= similarGames[i].image %>" alt="<%= similarGames[i].name %>">
                            <div class="similar-game-info" >
                                <h3><%= similarGames[i].name %></h3>
                                <p>Release Year: <%= similarGames[i].year %></p>
                                <p>Genre: <%= similarGames[i].genre %></p>
                            </div>
                        </div>
                    </a>
                    <% } %>
              </div> 
        </div>
    </section>
    <script>
        window.gameData = <%- JSON.stringify(game) %>;
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/js/gamePageFunctionality.js"></script>

</body>

</html>