<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Knewave&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/searchBox.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Game Search Engine</title>
</head>

<body>
        <section class="header">
            <%- include('header.ejs') %>
        </section>

        <section class="main">
            <div class="inner-main">
                <% if(defaultView) { %>
                    <h2>What's Hot In <%= new Date().getFullYear() %></h2>
                <% } else { %>
                    <h2>Search Results</h2>
                <% } %>
                <div class="main-container">
                <% for(let i = 0; i < games.length; i++) { %>
                <a class="anchor" href="/game/<%= games[i].id %>/<%= encodeURIComponent(games[i].name)%>">
                    <div class="game-card-container box-shadow">
                        <div class="game-card box-shadow">
                            <video class="micro-trailer" src="<%= games[i].micro_trailer %> " autoplay muted loop></video>
                            <img class="game-image"src="<%= games[i].image%>" alt="<%= games[i].name %>">
                        </div>
                        <div class="game-info">
                            <h3><%= games[i].name %></h3>
                            <p>Release Year: <%= games[i].year %></p>
                            <p>Genre: <%= games[i].genre %></p>

                            <div class="rating-container">
                                <div class="rating-score">
                                    <h3><span class="percentage"><%= Math.round((games[i].rating.mean) * 1000) / 10 %></span>%</h3>
                                    <img class="rating-icon" src="/images/rating-icon.png" width="50px">
                                    <h4><%= games[i].rating.count%> reviews</h4>
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </a>
                <% } %>
                </div>
            </div>

        </section>

        <section class="footer">
            <%- include('footer.ejs') %>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="/js/mainPageFunctionality.js"></script>
</body>

</html>